// specific background colors
$bodyColor: #f7f7f7;
$backgroundColorOdd: #fff;
$backgroundColorEven: #8496ff;


// specific text colors
$textColorMain: #000;
$colorConnected: #86ee82;
$colorDisconnected: #ff5867;


// colors list
$white: #fff;
$black: #000;

