// specific background colors
$bodyColor: #f7f7f7;
$backgroundColorOdd: #fff;
$backgroundColorEven: #8496ff;


// specific text colors
$textColorMain: rgba(0, 0, 0, 0.5);;
$colorConnected: #86ee82;
$colorDisconnected: #ff5867;
$buttonColor: #3c52c9;


// colors list
$white: #fff;
$black: #000;

// shadows
$shadowMain: 0 3px 3px rgba(0, 0, 0, 0.04);
