div.item-list
    div.item-list-header
        div.item-list-header__title Title
        div.item-list-header__title Role
        div.item-list-header__title Service
        div.item-list-header__title Company
        div.item-list-header__title Status
        div.item-list-header__title Date
        div.item-list-header__title Actions
    div.item-list-body
        div.item-list-body__row
            div.item-list__item Title
            div.item-list__item SUPER_ADMIN
            div.item-list__item Production
            div.item-list__item Aboutgoods
            div.item-list__item.item-list__item_status_connected
                span Connected
            div.item-list__item 19/02/2018
            div.item-list__item 
                span ...
                a.item_action(href="#")
        div.item-list-body__row
            div.item-list__item Title
            div.item-list__item USER
            div.item-list__item Production
            div.item-list__item Charal
            div.item-list__item.item-list__item_status_connected
                span Connected
            div.item-list__item 19/02/2018
            div.item-list__item 
                span ...
                a.item_action(href="#")
        div.item-list-body__row
            div.item-list__item Title
            div.item-list__item ADMIN
            div.item-list__item Sales
            div.item-list__item Nestlé
            div.item-list__item.item-list__item_status_connected
                span Connected
            div.item-list__item 29/01/2018
            div.item-list__item 
                span ...
                a.item_action(href="#")
        div.item-list-body__row
            div.item-list__item Title
            div.item-list__item ADMIN
            div.item-list__item R&D
            div.item-list__item Aboutgoods
            div.item-list__item.item-list__item_status_connected
                span Connected
            div.item-list__item 19/02/2018
            div.item-list__item 
                span ...
                a.item_action(href="#")
        div.item-list-body__row
            div.item-list__item Title
            div.item-list__item USER
            div.item-list__item Production
            div.item-list__item IRi
            div.item-list__item.item-list__item_status_disconnected
                span Disconnected
            div.item-list__item 19/02/2018
            div.item-list__item 
                span ...
                a.item_action(href="#")
        div.item-list-body__row
            div.item-list__item Title
            div.item-list__item ADMIN
            div.item-list__item Production
            div.item-list__item Aboutgoods
            div.item-list__item.item-list__item_status_connected
                span Connected
            div.item-list__item 19/02/2018
            div.item-list__item 
                span ...
                a.item_action(href="#")
        div.item-list-body__row
            div.item-list__item Title
            div.item-list__item USER
            div.item-list__item Sales
            div.item-list__item SOGEC
            div.item-list__item.item-list__item_status_disconnected
                span Disconnected
            div.item-list__item 19/02/2018
            div.item-list__item
                span ...
                a.item_action(href="#")

