div.left-block
    div.logo
        a.logo-image
            img(src="../img/logo.png" title="Company Logo")
        div.logo-text
            h3 CRM
            span test

    nav.navigation
        ul.navigation-list
            li.navigation-list__item
                a.navigation-list__link_active(href="#") Applications
                ul.navigation-sublist
                    li.navigation-sublist__item
                        a.navigation-sublist__link(href="#") Nice app
            li.navigation-list__item
                a.navigation-list__link(href="#") Documentation
            li.navigation-list__item
                a.navigation-list__link(href="#") Settings
            li.navigation-list__item
                a.navigation-list__link(href="#") Support
            li.navigation-list__item
                a.navigation-list__link(href="#") Log out

